@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Movie recieved. Thank you!</h2>
<p>Come back as soon as you have another movie you love!</p>