@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <h1>Get to Know Joel</h1>

    <p>
        Here are some links and more information about Joel:
    </p>

    <ul>
        <li>
        <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
        </li>
        <li>
        <a href="https://baconsale.com/">Baconsale Site</a>
        </li>
    </ul>

    <p>
        <a href="https://baconsale.com/">
            <img src="~/img/BaconsaleKate.jpg" alt="Joel's Photo">
        </a>
    </p>
